@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Rowdies:wght@400;700&family=Sulphur+Point:wght@300;400&display=swap');

.background {
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 3;
}

.form {
    border: 1px solid rgb(210, 212, 216);
    border-radius: 10px;
    width: 50%;
    min-height: 400px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding-top: 2rem;
}

.labels {
    width: 100%;
    font-family: 'Sulphur Point';
    font-size: 16px;
    font-weight: bold;
    padding-left: 10px;
}

.inputs {
    padding: 10px 10px;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    font-family: 'Sulphur Point';
    font-size: 24px;
}

.inputs:focus {
    border: none;
}

.firstCon {
    width: 100%;
    margin: 0 2rem;
    display: block;
    border-bottom: 1px solid rgb(210, 212, 216);
}

.closeBtn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.closeBtn:hover {
    opacity: 0.5;
}

.closeIcon {
    width: 100%;
    height: 100%;
}

.submitBtnCon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.submitBtn {
    appearance: none;
    border: none;
    font-family: 'Sulphur Point';
    font-size: 16px;
    font-weight: bold;
    width: 80px;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: var(--mainColor);
    color: var(--textColor);
    cursor: pointer;
}

.submitBtn:hover {
    opacity: 0.5;
}

@media (max-width: 768px) {
    .form {
        width: 90%;
    }
 }