.sloganContainer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
}

.sloganText {
    font-size: medium;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    color: black;
}