.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    justify-content: center;
    align-items: center;
    position: relative;
}

.imgContainer {
    width: 50%;
    height: 500px;
    padding: 0px 15px;
}

.imgs {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

@media (max-width: 600px) {
    .imgContainer {
    width: 100%;
    }
}
