.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0px 15px;
}

.imgContainer {
    width: 49%;
    height: 500px;
    position: relative;
}

.imgs {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.offset1{
    object-position: 50% 50%;
}

@media (max-width: 600px) {
    .imgContainer {
    width: 100%;
    }
}
