.Footer {
    width: 100%;
    height: 200px;
    background-color: var(--mainColor);
    max-width: 1800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.FooterContainer {
    max-width: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 30px 30px;
}

.IconContainer {
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px black solid; */
    margin-top: 30px;
}

.Icon {
    fill: var(--textColor);
    width: 30px;
    height: 30px;
}

.CopyRight {
    color: var(--textColor);
    display: flex;
}