.wrapper {
    display: flex;
    position: relative;
    /* background-color: beige; */
    width: 100%;
    height: 100%;
}

.btnContainer {
    /* background-color: blue; */
    width: calc(30%);
    padding: 30px 30px;
    width: 10%;
    /* height: 100vh; */
}

.btnSubCon {
    background-color: white;
    line-height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.displayArea {
    width: 90%;
}