.wrapper {
    display: flex;
    position: relative;
    /* background-color: beige; */
    width: 100%;
    height: 100%;
}

.btnContainer {
    /* background-color: blue; */
    width: calc(30%);
    padding: 30px 30px;
    width: 10%;
    /* height: 100vh; */
}

.btnSubCon {
    background-color: white;
    line-height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.displayArea {
    width: 90%;
    height: 100vh;
    overflow-y: scroll;
}

@media (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .btnSubCon {
        margin-bottom: inherit;
    }

    .btnContainer {
        background-color: white;
        padding: 20px 10px;
        z-index: 1;
        position: sticky;
        height: calc(15%);
        width: 100%;
        top: 0px;
        right: 0px;
        left: 0px;
        display: inline-flex;
        box-shadow: 1px 1px 25px gray;
    }
    .displayArea {
        width: 100%;
        /* overflow-y: scroll;
        height: 100vh; */
    }
    
}