.button {
    width: 50px;
    height: 50px;
    font-size: 30px;
    background-color: var(--mainColor);
    color: var(--textColor);
    border-radius: 50%;
    border: none;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button:hover {
    cursor: pointer;
    background-color: var(--textColor);
    color: var(--mainColor);
    opacity: 0.8;
    border-radius: 50%;
}
